* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3D3846;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.input-container {
  background-color: green;
  display: flex;
  width: 60%;
}
